- repository ||= Repository.new
%input{:type=>:text, :name=>'repository[name]', :value=>repository.name}
%label{:for=>'repository[name]'} Name
%br
%input{:type=>:text, :name=>'repository[branch]', :value=>repository.branch}
%label{:for=>'repository[branch]'} Branch
%p
  %label{:for=>'repository[config]'} TorqueBox configuration as YAML
  %br
  %textarea{:name=>'repository[config]'}
    =repository.config

