%h1 Stomp Box :: Repositories
%h2 Repositories Managed
.repositories
  - if @repositories
    -@repositories.each do |repo|
      .repository
        %h3= repo.name
        = repo.branch

.new-repository
  %h2 Add a new repository
  %form{:action=>'repositories', :method=>:post}
    %input{:type=>:text, :name=>'repository[name]'}
    %label{:for=>'repository[name]'} Name
    %br
    %input{:type=>:text, :name=>'repository[branch]'}
    %label{:for=>'repository[branch]'} Branch
    %br
    %input{:type=>:submit, :value=>:create}
