%h1 Stomp Box :: Deployments
- if @pushes
  .push
    %table
      %tr
        %th.side &nbsp;
        %th Date
        %th Commit Hash
        %th Repository
        %th Branch
      - @pushes.each do |push|
        %tr
          %th.side Deployment
          %td=push.created_at
          %td=push['after']
          %td
            %a{:href=>push['repository']['url']} 
              =push['repository']['url']
          %td=push['ref']
        %tr
          %th.side Commits
          %td{:colspan=>4}
            - push['commits'].each do |commit|
              %ul
                %li=commit['author']['name']
                %li
                  %a{:href=>commit['url']} 
                    =commit['id']
                %li=commit['timestamp']
                %li=commit['message']
        %tr.spacer
          %td{:colspan=>5} 
