%h1 Stomp Box :: Deployments
.config
  .repos
    %ul
      -config('repositories').keys.each do |key|
        %li
          %a{:href=>config('repositories')[key]['url']} 
            ="#{key} #{config('repositories')[key]['branch']}"


- if @pushes
  .push
    %table
      %tr
        %th.side &nbsp;
        %th Date
        %th Status
        %th Commit Hash
        %th Repository
        %th Branch
      - @pushes.each do |push|
        %tr
          %th.side Push
          %td{:style=>'font-size:90%'} 
            =push.created_at.strftime("%B %d - %H:%M")
          %td
            =push.status
            - if push.received? || push.undeployed?
              %form{:method=>:post, :action=>'/deploy'}
                %input{:type=>:hidden, :name=>:id, :value=>push.id}
                %input{:type=>:submit, :value=>:deploy}
            - elsif push.deployed?
              %form{:method=>:post, :action=>'/undeploy'}
                %input{:type=>:hidden, :name=>:id, :value=>push.id}
                %input{:type=>:submit, :value=>:undeploy}

          %td=push['after']
          %td
            =push['repository']['name']
            \:
            %a{:href=>push['repository']['url']} 
              =push['repository']['url']
          %td=push['ref']
        %tr
          %th.side Commits
          %td{:colspan=>5}
            - push['commits'].each do |commit|
              %ul
                %li=commit['author']['name']
                %li
                  %a{:href=>commit['url']} 
                    =commit['id']
                %li=commit['timestamp']
                %li=commit['message']
        %tr.spacer
          %td{:colspan=>6} 
