%h1 StompBox Hello World
- if @pushes
  .push
    %table
      %tr
        %th Date
        %th Commit Hash
        %th Repository
        %th Description
      - @pushes.each do |push|
        %tr
          %td=push.created_at
          %td=push['after']
          %td="#{push['repository']} (#{push['repository']['url']})"
          %td=push['description']
