%h1 Stomp Box :: Deployments
.config
  .repos
    %ul
      -repositories.keys.each do |key|
        %li
          %a{:href=>repositories[key]['url']} 
            ="#{key} #{repositories[key]['branch']}"


- if @pushes
  .push
    %table
      %tr
        %th.side &nbsp;
        %th Date
        %th Status
        %th Commit Hash
        %th Repository
        %th Branch
      - @pushes.each do |push|
        %tr
          %th.side Push
          %td{:style=>'font-size:90%'} 
            =push.created_at.strftime("%B %d - %H:%M")
          %td=push.status
          %td=push['after']
          %td
            =push['repository']['name']
            \:
            %a{:href=>push['repository']['url']} 
              =push['repository']['url']
          %td=push['ref']
        %tr
          %th.side Commits
          %td{:colspan=>5}
            - push['commits'].each do |commit|
              %ul
                %li=commit['author']['name']
                %li
                  %a{:href=>commit['url']} 
                    =commit['id']
                %li=commit['timestamp']
                %li=commit['message']
        %tr.spacer
          %td{:colspan=>6} 
