!!! 5
%html{:lang=>'en'}
  %head
    %meta{:charset=>"utf-8"}
    %title Stomp Box 
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"html5reset.css"}
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"styles.css"}

    /[if IE]
      %script{:src=>"http://html5shiv.googlecode.com/svn/trunk/html5.js"}
      %style{:type=>"text/css"} .clear { zoom: 1; display: block; }

  %body
    .container
      = yield
