.container {
  padding: 20px;
  margin: auto;
  font-size: 12px;
}

.container h1 {
  border-bottom: #999 1px dashed;
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #1e317f;
}

.container .push {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  width: 100%;
  table { width: 100%; }
  th, td {
    padding: 10px;
    width: 20%;
  }
  th {
    color: #fff;
    background-color: #1e317f;
    text-align: center;
    font-size: 120%;
  }
  td {
    border: #ddd 1px solid;
    ul {
      border-bottom: #ddd 1px dotted;
      padding-bottom: 10px;
      margin-bottom: 10px;
      list-style: none;
      li {
        list-style: none;
        padding: 2px;
      }
    }
  }
}

