.container {
  padding: 20px;
  margin: auto;
  font-size: 12px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.container h1, .container h2 {
  border-bottom: #999 1px dashed;
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1e317f;
}

ul {
  list-style: none;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: #ddd 1px dotted;
  li {
    list-stlye: none;
    padding: 2px;
  }
}

.container h1 { font-size: 20px; }
.container h2 { font-size: 16px; }

.container .push {
  width: 100%;
  table { width: 100%; }
  th, td {
    padding: 10px;
    width: 20%;
  }
  th {
    text-align: center;
    font-size: 120%;
    background-color: #fff;
    color: #1e317f;
  }
  td {
    border: #ddd 1px solid;
  }
  tr.spacer td {
    background-color: #ddd;
  }
  th.side {
    border-bottom: #ddd 1px solid;
  }
}

