!!! 5
%html{:lang=>'en'}
  %head
    %meta{:charset=>"utf-8"}
    %title Stomp Box 
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"html5reset.css"}
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"styles.css"}
    %script{:src=>"https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"}

    /[if IE]
      %script{:src=>"http://html5shiv.googlecode.com/svn/trunk/html5.js"}
      %style{:type=>"text/css"} .clear { zoom: 1; display: block; }

  %body
    .container
      #header
        .menu{:style=>'float:right;display:inline-block'}
          %a{:href=>home_path} Dashboard
          \|
          %a{:href=>to("repositories")} Repositories
          \|
          - push_path = to( "push/#{config('API_KEY')}" )
          %a{:href=>push_path}
            GitHub Push URL
          - if ENV['REQUIRE_AUTHENTICATION']
            \|
            %a{:href=>to("logout")} Logout
        %h1 TorqueBox::StompBox


      #content
        = yield

      - [:error, :notice].each do |level|
        - if flash.has? level
          .flash{:class=>level}= flash[level]

      %footer#footer
        This software brought to you by 
        %a{:href=>'http://projectodd.org'} project : odd
