footer {
  text-align: center;
  font-size: smallest;
  color: #768994;
  margin-top: 30px;
}

.container {
  padding: 20px;
  margin: auto auto 40px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.container a {
  text-decoration: none;
  color: #768974;
}

.container a:hover {
  color: #768930;
  border-bottom: #768930 1px dotted;
}


.container h1, .container h2, .container h3 {
  font-family: Arial, Helvetica, sans-serif;
}

.container h1 {
  border-bottom: #295666 4px solid;
  font-size: 24px;
  margin-bottom: 30px;
  color: #295666;
}

.container h2 {
  border-bottom: #295666 2px solid;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #295666;
}

.container h3 {
  border-bottom: #3A402B 1px dotted;
  font-size: 14px;
  margin: 10px 0;
  color: #3A402B;
}

.repositories {
  display: inline-block;
  margin-bottom: 20px;
}

form { display: inline-block; }

input[type=submit] {
  background-color: #ddd;
  border: none;
  cursor: pointer;
  color: #1e317f;
}

#login_form {
  margin: 40px auto;
  width: 240px;
  padding: 20px;
  background-color: #295666;
  color: #ddd;
  font-size: larger;
  border: #aaa 1px solid;

  p { margin-bottom: 20px; }
}

ul {
  list-style: none;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: #ddd 1px dotted;
  li {
    list-stlye: none;
    padding: 2px;
  }
}

.container .pushes {
  width: 100%;
  table { width: 100%; }
  th, td {
    padding: 10px;
    width: 20%;
  }
  th {
    font-size: 120%;
    background-color: #fff;
    color: #3a402b;
    text-align: left;
  }
  td {
    border: #ddd 1px solid;
  }
  th.side {
    border-bottom: #ddd 1px solid;
    text-align: center;
  }
  tr.commits th { 
    color: #768994; 
    font-weight: normal; 
  }
  tr.received.push, tr.undeployed.push, tr.undeploying.push {
    border-left: 10px solid #FFC950;
  }
  tr.ignored {
    border-left: 10px solid #E55714;
    display: none;
  }
  tr.deployed.push th, tr.deploying.push th {
    border-left: 10px solid #17B034;
    background-color: #17B034;
  }
  tr.commits td { font-size: smaller; padding-bottom: 40px; }
  tr.failed.push th { 
    border-left: 10px solid #E55714;
    background-color: #E55714; 
  }
}

.container .repository {
  padding: 10px;
  background-color: #eee;
  margin: 0 15px 10px 0;
  display: inline-block;
  min-width: 250px;
  float: left;
}

